{% set account_width = [55, plus_account | length, minus_account | length, commission_account | default("", true) | length] | max -%}
{%- set precision = amount_precision | default(2) -%}
{%- set plus_amount = money | amount(precision) -%}
{%- set minus_amount = (-money) | amount(precision) -%}
{%- set commission_amount = commission | amount(precision) -%}
{%- set minus_commission_amount = (-commission) | amount(precision) -%}
{%- set amount_width = [10, plus_amount | length, minus_amount | length, commission_amount | length, minus_commission_amount | length] | max -%}
{{ pay_time.strftime("%Y-%m-%d") }} * {{ peer | bean_quote }}{% if item %} {{ item | bean_quote }}{% endif %}{% for tag in tags %} #{{ tag }}{% endfor %}{# {% if note %} {{ note }} {% endif %} #}
{%- for key, value in metadata.items() %}
    {% if value -%}
        {{ key }}: {{ value | bean_quote }}
    {%- endif %}
{%- endfor %}
    {{ plus_account.ljust(account_width) }} {{ plus_str if plus_str else (plus_amount.rjust(amount_width) ~ " " ~ currency) }}
    {{ minus_account.ljust(account_width) }} {{ minus_str if minus_str else (minus_amount.rjust(amount_width) ~ " " ~ currency) }}
{%- if commission_account %}
    {{ commission_account.ljust(account_width) }} {{ commission_amount.rjust(amount_width) }} {{ currency }}
    {{ minus_account.ljust(account_width) }} {{ minus_commission_amount.rjust(amount_width) }} {{ currency }}
{%- endif %}
{%- if pnl_account %}
    {{ pnl_account }}
{%- endif %}
{{ "\n" }}
